<div class="row content-starter">
	<div class="col s12 m12 l6">
		<div class="card-panel neumorph">
			<div class="device">
				<div class="col s6">
					<h1>Device Status</h1>
				</div>
				<div class="col s6 right-align refresh">
					<i class="fad fa-sync-alt"></i>
				</div>
				<table class="highlight">
					<thead>
						<tr>
							<th>Device Name</th>
							<th>Status</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>ESP32</td>
							<td id="statusdev1"></td>
						</tr>
						<tr>
							<td>DC Motor</td>
							<td id="statusdev2"></td>
						</tr>
						<tr>
							<td>Flow Sensor</td>
							<td id="statusdev3"></td>
						</tr>
						<tr>
							<td>2nd Flow Sensor</td>
							<td id="statusdev3"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col s12 m12 l6">
		<div class="card-panel neumorph">
			<div class="device">
				<h1>Graph History</h1>
			</div>
		</div>
	</div>
</div>