<div class="row content-starter">
	<div class="col s12 m12 l6">
		<div class="card-panel neumorph">
			<div class="device">
				<h1>Control</h1>
				<h2>Motor Speed</h2>
				<div class="wrapper">
					<div class="gauge">
						<div class="needle"></div>
						<div class="gauge-center"></div>
					</div>
				</div>
			    <p class="range-field">
			      <input type="range" id="takeSpeed" min="0" max="255"/>
			    </p>
			    <a class="waves-effect waves-light btn-small" id="execSpeed"><span>Submit</span></a>
			</div>
		</div>
	</div>
	<div class="col s12 m12 l6">
		<div class="card-panel neumorph">
			<div class="device">
				<h1>Monitoring</h1>
			</div>
		</div>
	</div>
</div>